<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <description>The standard web descriptor for the html adaptor</description>
   <servlet>
      <servlet-name>HtmlAdaptor</servlet-name>
      <servlet-class>org.jboss.jmx.adaptor.html.HtmlAdaptorServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DisplayMBeans</servlet-name>
      <jsp-file>/displayMBeans.jsp</jsp-file>
   </servlet>
   <servlet>
      <servlet-name>InspectMBean</servlet-name>
      <jsp-file>/inspectMBean.jsp</jsp-file>
   </servlet>
   <servlet>
      <servlet-name>DisplayOpResult</servlet-name>
      <jsp-file>/displayOpResult.jsp</jsp-file>
   </servlet>

   <servlet-mapping>
      <servlet-name>HtmlAdaptor</servlet-name>
      <url-pattern>/HtmlAdaptor</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DisplayMBeans</servlet-name>
      <url-pattern>/DisplayMBeans</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>InspectMBean</servlet-name>
      <url-pattern>/InspectMBean</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DisplayOpResult</servlet-name>
      <url-pattern>/DisplayOpResult</url-pattern>
   </servlet-mapping>


</web-app>
